.App {
  font-family: sans-serif;
  text-align: center;
}

/* this is the styles for the whole component */
.coin-container {
  display: flex;
  justify-content: center;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 900px;
}

.coin-percent.red {
  color: red;
}

.coin-percent.green {
  color: green;
}
